*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}
body {
    overflow-x: hidden; /* Hide scrollbars */
}
#nav{
    background-color:black;
    color: rgb(0, 0, 0);
    display: flex;
    position: fixed;
    width: 100%;
    padding: .2rem;
    align-items: center;
    z-index: 1;
    padding-left: 1%;
    padding-right: 1%;
}
span{
    font-size: 1.7rem;
}
/* left  */
.navleft p{
    font-size: 2.2rem;
    font-weight:600;
    margin-bottom: 10px;
}
.navleft p a:hover{
    opacity: 1;

}
.navleft p a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
}
/* right  */
.navright{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.list{
    list-style: none;
    display: flex;
}
.list a{
    margin-left: 30px;
    text-decoration: none;
    font-family:sans-serif;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    transition:all 0.2s ease-in-out;
    background-color: transparent;
}
.list a:hover{
    color: #56848f;
}
#home{
    /* width: 100%; */
    position: absolute;
    text-align: center;
    top: 7%;
    width: 100%;
    height: 150vh;

}
.hh1{
    margin-top: 250px;
    font-size: 3.0rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    padding-bottom: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}
#home p{
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
}
#home{
    font-size: 1.8rem;
}
#about{
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding-left: 10%;
    padding-top: 15%;
    padding-right: 1%;
    padding-bottom: 0;
    color: #ffffff;
    font-weight: 600;
    width: 100%;
}
.aclub{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:200px ;
}
.left h1{
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px
}
.left p{
    font-size: 18px;
    word-spacing: 4px;
    width: 130%;
    opacity: .8;
}
.left img{
    margin-top: 20%;
    width: 200%;
}
.lists{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
}
.right img{
    width: 250px;
    border-radius: 50%;
    margin-left: 30%;
}
#form{
    background-color: rgb(0, 0, 0);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 16%;
    padding-bottom: 7%;
    width: 100%;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 200px;
}
.left{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: white;
}
#form .right{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: white
    
}
.submit{
    border-radius:6px ;
    padding: 7px 28px;
    margin: 20px;
    border: 1px solid #ffffff;
    font-weight: bold;
    font-family: sans-serif;
    opacity: 0.7;
    cursor: pointer;
    background-color: #09141d;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease-in-out;
}
.submit:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}
.right h2{
    font-family:sans-serif;
    opacity: 0.8;
    color: #ffffff;
}
.acontainer{
    position: relative;
}
.right span{
    font-family: sans-serif;
    font-size: 0.9rem;
    position: absolute;
    top: 37px;
    left: 17px;
    font-weight: 100;
    color: #ffffffcc;
    cursor: text;
    transition: all 0.2s ease-in-out;
}
.form input:focus + span,
.form input:not(:placeholder-shown) + span{
    top: 22px;
    left: 20px;
    background-color: rgb(0, 0, 0);
    padding-left:5px;
    padding-right:5px;
}
.form input:focus{
    border: 2px solid #000000;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form input{
    color: white;
    border-radius: 8px;
    font-weight: 600;
    border: 1px solid #ffffff;
    background-color: rgb(0, 0, 0);
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 150px;
    padding-bottom: 7px;
    padding-top: 7px;
    font-size: 0.9rem;
    margin-left: 10px;
    margin-right: 10px;
}
.form input::placeholder{
    opacity: 0;
}

#team{
    border: 1px solid #ffffff;
    background-color: rgb(255, 255, 255);
    font-weight: 600;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 170px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 8px;
    cursor: pointer;
}
#team:focus{
    border: 2px solid #ffffff;
}
#comments{
    border-radius: 8px;
    margin-top: 30px;
    border: 1px solid #ffffff;
    background-color:rgb(0, 0, 0);
    font-weight: 600;
    padding-right: 85px;
    padding-left: 10px;
    padding-top: 7px;
    color: white;
}
#comments:focus{
    border: 2px solid #ffffff;
}
#portfolio{
    background-color: #000000;
}
.facultyco,.studentco{
    width: 100%;
    padding-left: 10%;
    padding-top: 10%;
    padding-right: 10%;
    text-align: center;
}
.facultyco h1,.studentco h1{
    font-family: 'Montserrat', sans-serif;
    opacity: 0.7;
    margin-bottom: 50px;
    font-size: 2rem;
    color: white;
}
.container1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    grid-column-gap:100px;
}
.tile1{
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    width: 80%;
    height: 80%;
    margin-left: 15%;
    color: white;
}
.tile1:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(-10px);
}
.tile1 img{
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 30px;
}
.tile1 p:last-of-type,.tile2 p:last-of-type{
    margin-bottom: 20px;
}
.footer{
    font-family: sans-serif;
    background-color: #000000;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 15px;
    letter-spacing: 4px;
}
.footer .socials img{
    transition: .1s;
    background-color: white;
    width: 25px;
    margin: 15px
}
.footer h6{
    letter-spacing: .1px;
}
.socials{
    margin-top: 20px;
}
.socials img:hover { 
    transform: scale(1.3);
 }
#particles-js {
    background: black;
}
.social .tech h2{
    font-size: 30px;
    font-weight: 200;
    font-family: sans-serif;
}

.social{
    display: flex;
    margin-right: auto;
    flex-direction: column;
    margin-top: 20px;
}
.social img{
    width: 35px;
    transition: .1s;
    cursor: pointer;
    background-color: black;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    inline-size: 30px;
    display: inline-flex;
    
}
.social .img2{
    background-color: white;
    margin-bottom: 10px;
}
